:root {
    --ani-position: absolute;
    --ani-opacitiy: 0;
}

.progress {
    display: inline-block;
}

.playing-game {
    display: inline-block;
}

.input-game {
    display: block;
}

.image1 {
    position: var(--ani-position);
    opacity: var(--ani-opacitiy);
}

.image2 {
    position: var(--ani-position);
    opacity: var(--ani-opacitiy);
}

.image3 {
    position: var(--ani-position);
    opacity: var(--ani-opacitiy);
}

.image4 {
    position: var(--ani-position);
    opacity: var(--ani-opacitiy);
}

.image5 {
    position: var(--ani-position);
    opacity: var(--ani-opacitiy);
}

.image6 {
    position: var(--ani-position);
    opacity: var(--ani-opacitiy);
}

.image7 {
    position: var(--ani-position);
    opacity: var(--ani-opacitiy);
}

.image8 {
    position: var(--ani-position);
    opacity: var(--ani-opacitiy);
}

.image9 {
    position: var(--ani-position);
    opacity: var(--ani-opacitiy);
}

.image10 {
    position: var(--ani-position);
    opacity: var(--ani-opacitiy);
}

.image11 {
    position: var(--ani-position);
    opacity: var(--ani-opacitiy);
}

.image12 {
    position: var(--ani-position);
    opacity: var(--ani-opacitiy);
}

.show {
    opacity: 1;
}